* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    border: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    display: flex;
    font-size: 40px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background: rgb(38, 31, 29);
    -webkit-appearance: none;
    appearance: none;
}

@font-face {
    font-family: Norse-Bold;
    src: url('fonts/Norse-Bold.otf');
}

@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat.ttf');
}

.content {
    width: 100vw;
    display: flex;
    align-items: center;
}

.background-container {
    position: relative;
    width: 50%;
    height: 100vh;
    background-image: url("img/bear.jpg");
    background-size: cover;
}

.logo {
    color: white;
    position: absolute;
    top: 35%;
    padding: 40px 0 20px 0;
    width: 100%;
    font-family: 'Norse-Bold';
    font-size: 200%;
    text-align: center;
    background-color: rgba(255, 96, 96, 0.26);
}

.signup-container {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

h1 {
    color: rgb(129, 110, 98);
    text-align: left;
    padding: 20px;
    border: 10px;
    width: 42vw;
    font-size: 2.5vw;
    text-shadow: 2px 2px 2px yellow;
}

.credit {
    color: white;
    position: sticky;
    top: 100%;
    padding: 10px;
    font-size: 30%;
    text-align: center;
}

a:visited,
a:link {
    color: white;
}

form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.signup-form {
    font-size: 20px;
    background-color: rgb(129, 110, 98);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
    box-shadow: 0 4px 4px rgb(105, 99, 99);
}

input {
    font-size: 32px;
    padding: 2px;
    width: clamp(200px, 60%, 80%);
    border-radius: 10px;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

div .row {
    display: flex;
    width: inherit;
    justify-content: space-evenly;
    align-items: stretch;

}

li {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    gap: 2px;
    justify-content: space-between;
    align-items: stretch;
    text-shadow: 4px 4px 6px rgb(100, 100, 16);
}

input:focus {
    border: 2px solid rgb(180, 180, 245);
    box-shadow: 0px 2px 2px rgb(175, 175, 175);
}

span:before {
    position: absolute;
    color: rgb(181, 3, 3);
}

input[type='text']:focus:invalid + span:before {
    content: "Please enter a valid name";
}

input[type='email']:focus:invalid + span:before {
    content: "Please enter a valid email address";
}

input[type='tel']:focus:invalid + span:before {
    content: "Please enter a valid phone number";
}

input[type='password']:focus:invalid + span:before {
    content: "Please enter a valid password";
}

input:valid + span:before {
    position: absolute;
    left: 48%;
    top: 54px;
    
    content: "nice : )";
    text-shadow: none;
    color: rgb(0, 194, 0);
}

button {
    font-size: 30px;
    width: clamp(170px, 240px, 300px);
    border-radius: 10px;
    background-color: #596D48;
    box-shadow: 0 4px 4px rgb(105, 99, 99);
}